section{
    margin: 10px 10px;
    padding: 10px 10px;
    
}

#form .row .col-md-12 div{
    margin: 5px 10px !important;
}

#form .row{
    width: 600px;
    margin:auto;
}

button{
    margin: 5px 10px;
    background:green;
    margin: 10px 10px;
    width:30%;

}

message{
color: red;
}