<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
   
    <div *ngFor="let service of serviceFormCatagory.forms" class="form-group">
      <div class="card">
        <div class="card-header">
          <h1>{{service.name}}</h1>
          <h3>{{service.description}}</h3>
        </div>
        <div class="card-body">
          <div class="row">

            <div *ngFor="let formField of service.fields" [ngClass]="{
              'col-sm-12 col-md-12':formField.rowDivision === 1,
              'col-sm-12 col-md-6':formField.rowDivision === 2,
              'col-sm-12 col-md-4':formField.rowDivision === 3,
              'form-group':true
            }">
            <!-- <div  class="form-group"> -->
              
              <app-dynamic-form-input [input]="formField" [form]="form"></app-dynamic-form-input>
              
              <!-- </div> -->
            </div>
          </div>

        </div>
      </div>
      
    </div>
    

    <div class="form-group">
      <div class="row Forms">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Save
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-group">
    <strong>Here's the payload</strong><br />{{ payLoad }}
  </div>
</div>
