<div class="container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>{{ serviceFormCatagory.svcName }}</h3>
        <!-- <label>{{ serviceFormCatagory.description }}</label> -->
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div
          *ngFor="let service of serviceFormCatagory.forms"
          class="form-group"
        >
          <div class="card">
            <div class="card-header">
              <h4>{{ service.name }}</h4>
              <label>{{ service.description }}</label>
            </div>
            <div class="card-body">
              
              <div>
                <div class="row" *ngFor="let group of service.groups">
                  <div
                    *ngFor="let formField of group.fields"
                    [ngClass]="{
                      'col-sm-12 col-md-12': group.fields.length == 1,
                      'col-sm-12 col-md-6': group.fields.length == 2,
                      'col-sm-12 col-md-4': group.fields.length == 3,
                      'form-group': true
                    }"
                  >
                    <app-dynamic-form-input
                      [input]="formField"
                      [form]="form"
                    ></app-dynamic-form-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12 text-right">
        <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
          Create Estimate
        </button>
      </div>
    </div>
  </form>

  <div *ngIf="payLoad" class="form-group">
    <strong>Here's the payload</strong><br />{{ payLoad }}
  </div>
</div>
