<div class="container">
  <div class="row form-group"></div>

  <div class="row form-group">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Amazon API Gateway</h5>
        <div class="card-body">
          <p class="card-text">
            Amazon API Gateway is a fully managed service that makes it easy for
            developers to create, publish, maintain, monitor, and secure APIs at
            any scale. APIs act as the front door for applications to access
            data, business logic, or functionality from your backend services
          </p>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClick('/assets/ApiGateway.json')"
          >
            Configure
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Amazon Athena</h5>
        <div class="card-body">
          <p class="card-text">
            Amazon Athena is an interactive query service that makes it easy to
            analyze data in Amazon S3 using standard SQL. Athena is serverless,
            so there is no infrastructure to manage, and you pay only for the
            queries that you run.
          </p>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClick('/assets/amazonAthena.json')"
          >
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Configure Amazon Aurora MySQL-Compatible</h5>
        <div class="card-body">
          <p class="card-text">
            Amazon Aurora MySQL Compatible relational database is built for the
            cloud, that combines performance and availability of traditional
            enterprise databases with the simplicity and cost-effectiveness of
            open source databases.
          </p>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClick('/assets/amazonMySql.json')"
          >
            Configure
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <h5 class="card-header">Amazon API Gateway</h5>
        <div class="card-body">
          <p class="card-text">
            Amazon API Gateway is a fully managed service that makes it easy for
            developers to create, publish, maintain, monitor, and secure APIs at
            any scale. APIs act as the front door for applications to access
            data, business logic, or functionality from your backend services
          </p>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClick('/assets/ApiGateway.json')"
          >
            Configure
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
